

.slider {
  width: 100%;
  margin: 20px;
}

.fa {

  font-size: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}
.fa.fa-plus-circle{
  margin: 20px;
  float: right;
}
.button-wrapper {
  padding: 45px;
  display: flex;
  justify-content: space-around;
}





.small {
  height: 30%;
  width: 60%;
  background-color: rgba(45, 196, 183, 0.27);
  border: 2px solid;
  border-radius: 10%;
  text-align: center;

}

.medium {
  margin-top: 20px;
  height: 40px;
  width: 60px;
  background-color: rgba(45, 196, 183, 0.27);
  border: 2px solid;
  border-radius: 10%;
  text-align: center;
}

.large {
  height: 30px;
  width: 60%;
  background-color: rgba(45, 196, 183, 0.27);
  border: 2px solid;
  border-radius: 10%;
  text-align: center;
}

.pull-right {
  border: none !important;
}



.fa.fa-check {
  font-size: 10px;
}

#media-size {
  border: none;
  margin: 5px;
  background: rgba(45, 196, 183, 0.27);
  width: 80%;
  text-align: center;
}
.noUi-tooltip {
  display: flex;
  width: 100px;
  background-color: rgba(233, 241, 240, 0.27);
}
.fa.fa-remove{
  font-size: 15px;
}
